@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/summernote/dist/summernote";

@import "~viender_core/sass/variables";
@import "variables";

@import "~viender_socialite/core/sass/desktop/components/answer";
@import "~viender_socialite/core/sass/desktop/components/answer-show-modal";
@import "~viender_socialite/core/sass/desktop/components/answer-create-modal";
@import "~viender_socialite/core/sass/desktop/components/answer-create-form";
@import "~viender_profile/core/sass/desktop/components/user-card";
@import "~viender_profile/core/sass/desktop/components/topic-card";
@import "~viender_profile/core/sass/desktop/components/profile-navigation";
@import "~viender_follow/core/sass/desktop/components/follow-button";

#app {
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
}

a {
    text-decoration: none;
    color: $link-color;

    &:hover {
        text-decoration: none;
    }

    &:focus {
        text-decoration: none;
    }
}

.left-column {
    padding-left: 130px !important;
}

.topic {
    h5 {
        font-size: 1rem;
        padding-bottom: 1rem;
        border-bottom: solid 1px #eee;
    }

    &-header {
        padding-top: 20px;

        &__name {
            padding-left: 20px;
            display: inline;
        }

        img {
            width: 120px;
            height: 120px;
            border-radius: 7px;
        }
    }

    &-nav {
        border-bottom: solid 1px #eee;
        border-top: solid 1px #eee;

        .followButton {
            margin-top: 12px;
        }
    }

    &-content {

    }

    &-about {

    }
}
