{
  "extends": ["google"],
  "parser": "babel-eslint",
  "plugins": ["vue"],
  "globals": {
    "Event": true,
    "axios": true,
    "Vue": true,
    "app": true,
    "window": true,
    "document": true,
    "navigator": true,
    "treasure": true,
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.mix.js",
      }
    }
  },
  "rules": {
    "vue/jsx-uses-vars": 2,
    "max-len": [2, {
      "code": 110,
    }],
  }
}
