[submodule "viender/utilities"]
	path = viender/utilities
	url = https://github.com/viender/utilities
[submodule "viender/userdata"]
	path = viender/userdata
	url = https://github.com/viender/userdata
[submodule "viender/socialite"]
	path = viender/socialite
	url = https://github.com/viender/socialite
[submodule "viender/dealer"]
	path = viender/dealer
	url = https://github.com/viender/dealer
[submodule "viender/courier"]
	path = viender/courier
	url = https://github.com/nugrahawahyu/courier
[submodule "viender/mytutor"]
	path = viender/mytutor
	url = https://github.com/viender/mytutor
