/node_modules
/vendor
/public/js
/public/css
/viender/vendor
/src/viender/vendor
/viender/node_modules
/viender/public/storage
/viender/storage/*.key
/viender/vendor
/.idea
/viender/Homestead.json
/viender/Homestead.yaml
/viender/.env
/npm-debug.log
/yarn-error.log
