[submodule "profile"]
	path = profile
	url = https://github.com/viender/profile
[submodule "mytutor"]
	path = mytutor
	url = https://github.com/viender/mytutor
[submodule "socialite"]
	path = socialite
	url = https://github.com/viender/socialite
[submodule "socialauth"]
	path = socialauth
	url = https://github.com/viender/socialauth
[submodule "dealer"]
	path = dealer
	url = https://github.com/viender/dealer
[submodule "utilities"]
	path = utilities
	url = https://github.com/viender/utilities
