div.answer-box {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 20px;
}

.answer-box .card-block {
    padding: 0;
}

.answer-box .card img {
    border-radius: 50%;
}

@media screen and (min-width: 0px) {
    .answer-box .col-sm-2 {
        float: left;
        width: 36px;
    }
}