.comment-container .comment-container {
    padding-left: 29px;
}

.comment-container .comment-container .comment-box .card img {

}

.comment-container .comment-container .comment-box .comment {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
}