$navbar-height: 45px;

@media #{$medium-and-down} {
    .navbar {
        background-color: red;
        &-desktop {
            .navbar-section {
                &-brand {
                    padding-left: 0;
                }

                &-menu {
                    padding-right: 0;
                }
            }
        }
    }
}

nav.navbar-mobile.minimize {
    top: -48px;
}

.navbar {
    &-fixed {
        height: $navbar-height;
    }

    &-button {
        height: 100%;

        &.active {
            border-bottom: solid 3px #1da1f2;
        }
    }

    &-desktop {
        min-width: 960px;
        top: 0;
        width: 100%;
        height: $navbar-height;
        line-height: $navbar-height;

        .nav-wrapper {
            position: absolute;
            left: 0;
            right: 0;
        }

        .logo {
            height: 3.64rem;

            a {
                color: #657786;
            }
        }

        .navbar-section {

            &-brand {
                width: 25%;
                display: inline-block;
                height: 100%;
                padding-left: 80px;
            }

            &-search {
                width: 45%;
                display: inline-block;
                height: 100%;

                &.full {
                    width: 65%;
                }

                .search-form {
                    height: 100%;
                    border-radius: 3px;
                    position: relative;

                    div {
                        height: 100%;
                    }

                    .search-form-textfield {
                        height: 27px;
                        background-color: #f5f5f5;
                        border-bottom: 0;
                        width: calc(100% - 230px);
                        padding-right: 110px;
                        margin-bottom: 0;
                    }

                    .search-form-submit {
                        height: 27px;
                        line-height: 27px;
                        position: absolute;
                        right: 120px;
                        top: 9px;
                        box-shadow: none;
                        text-transform: none;
                        padding: 0 10px;
                    }
                }
            }

            &-menu {
                width: 30%;
                display: inline-block;
                height: 100%;
                padding-right: 80px;
            }
        }

		.brand-logo {
			padding-left: 20px;
		}

		.nav-wrapper i, a.button-collapse i {
		    height: $navbar-height;
		    line-height: $navbar-height;
		}
	}

	&-mobile {
		height: 100px;
        line-height: 44px;
		top: 0;
		color: #657786;
        transition: all .5s;

		.logo {
			height: 3.64rem;

            h1 {
                height: 44px;
            }

			a {
				color: #657786;
			    font-size: 22px;
			    font-weight: bold;
			    line-height: 44px;
			    vertical-align: top;
			}
		}

		.row {
			margin-bottom: 0;
		}

		input {
			margin-bottom: 0;
		}

		&-header {
            height: 48px;
			background-color: #fff;
			text-align: center;

			.menu-button {
				float: left;
				padding-left: 5px;
			}

			.search-button {
				float: right;
				padding-right: 5px;
			}
		}

		&-menus {
			@extend .grey, .lighten-3;
			text-align: center;
			line-height: 52px;
			width: 100%;
			margin-bottom: -1px !important;
            height: 52px;
            position: absolute;
            background-color: #fff !important;

            &-button {
                &.active {
                    color: #1da1f2;
                }
            }

			a {
				color: #657786;
			}
		}

        nav .nav-wrapper i {
            height: 44px;
            line-height: 40px;
        }
	}
}


nav {
    i {
        height: initial;
        font-size: 20px !important;
    }
}
