.profileNavigation {
	&-list {
		margin: 0;
		white-space: nowrap;
		overflow: scroll;
		box-shadow: 0 2px 2px 0 rgba(0,0,0,.14);

		&::-webkit-scrollbar { 
		    display: none; 
		}
	}

	&-item {
		display: inline-block;

		a {
			@extend .grey-text, .text-darken-3;
			height: 60px;
			padding: 10px 12px 12px 12px;
			display: block;
			text-align: center;
			transition: all .15s ease-in-out;

			&.is-active {
				border-bottom: solid 4px #{$secondary-color};
			}
		}

		span {
			display: block;
		}
	}

	&-label {

	}

	&-value {
		font-weight: 600;
	}
}
