@charset "UTF-8";

// ==========================================================================
// Viender - Materialize variables
// ==========================================================================

// Variables;
@import "variables";

// Reset
@import "node_modules/materialize-css/sass/components/normalize";

// components
@import "node_modules/materialize-css/sass/components/global";
@import "node_modules/materialize-css/sass/components/badges";
@import "node_modules/materialize-css/sass/components/icons-material-design";
@import "node_modules/materialize-css/sass/components/grid";
@import "node_modules/materialize-css/sass/components/navbar";
@import "node_modules/materialize-css/sass/components/roboto";
@import "node_modules/materialize-css/sass/components/typography";
@import "node_modules/materialize-css/sass/components/transitions";
@import "node_modules/materialize-css/sass/components/cards";
@import "node_modules/materialize-css/sass/components/toast";
@import "node_modules/materialize-css/sass/components/tabs";
@import "node_modules/materialize-css/sass/components/tooltip";
@import "node_modules/materialize-css/sass/components/buttons";
@import "node_modules/materialize-css/sass/components/dropdown";
@import "node_modules/materialize-css/sass/components/waves";
@import "node_modules/materialize-css/sass/components/modal";
@import "node_modules/materialize-css/sass/components/collapsible";
@import "node_modules/materialize-css/sass/components/chips";
@import "node_modules/materialize-css/sass/components/materialbox";
@import "node_modules/materialize-css/sass/components/forms/forms";
@import "node_modules/materialize-css/sass/components/table_of_contents";
@import "node_modules/materialize-css/sass/components/sideNav";
@import "node_modules/materialize-css/sass/components/preloader";
@import "node_modules/materialize-css/sass/components/slider";
@import "node_modules/materialize-css/sass/components/carousel";
@import "node_modules/materialize-css/sass/components/date_picker/default";
@import "node_modules/materialize-css/sass/components/date_picker/default.date";
@import "node_modules/materialize-css/sass/components/date_picker/default.time";

// ==========================================================================
// Viender - Materialize variables
// ==========================================================================

@import "node_modules/font-awesome/scss/font-awesome";


// ==========================================================================
// Viender
// ==========================================================================

@import "components/navbar";
@import "components/collections";
@import "components/cards";
@import "components/preloader";
@import "components/overlay";
@import "components/search-overlay";
@import "components/topic-recommendation";
@import "components/buttons";

@import "utilities/borders";
@import "utilities/miscellaneous";
@import "utilities/shadows";
@import "utilities/whitespaces";
@import "utilities/texts";

// vue components
@import "vue_components/search-results";

h1 {
    margin: 0;
}

#app {
    // margin-bottom: 40px;
}

header {
    &.no-user {
        height: 50px;
    }
}

.notification-count {
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: red;
    border-radius: 50%;
    line-height: 170%;
    color: #fff;
    font-size: 11px;
    margin: auto;
    left: 50%;
    top: 7px;
}

.notification-menu-button {
    position: relative;
}

.note-image-popover {
    display: none !important;
}
