@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/summernote/dist/summernote";

@import "~viender_core/sass/variables";
@import "variables";

@import "~viender_socialite/core/sass/mobile/components/answer-create-modal";
@import "~viender_socialite/core/sass/desktop/components/answer-create-form";
@import "~viender_socialite/core/sass/mobile/components/answer";
@import "~viender_socialite/core/sass/mobile/components/answer-show-modal";
@import "~viender_socialite/core/sass/desktop/components/comment";
@import "~viender_socialite/core/sass/desktop/components/comment-list";
@import "~viender_socialite/core/sass/mobile/components/comment-create-form";
@import "~viender_socialite/core/sass/desktop/components/card-action";

.questionShow-container {
	padding-top: 10px;

	h4 a {
		font-size: 1.65rem !important;
	}

	.col.s12 {
		min-height: 0;
	}

	.answer {
		padding-top: 10px;

	}

	h5 {
		font-size: 1.2rem;
		border-bottom: 1px solid rgba(160, 160, 160, 0.2);
		margin: 0;
    	padding: 10px;
	}
}
