@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/summernote/dist/summernote";

@import "~viender_core/sass/variables";
@import "variables";

@import "~viender_socialite/core/sass/desktop/components/answer";
@import "~viender_socialite/core/sass/desktop/components/answer-create-modal";
@import "~viender_socialite/core/sass/desktop/components/answer-create-form";
@import "~viender_socialite/core/sass/desktop/components/answer";
@import "~viender_socialite/core/sass/desktop/components/answer-show-modal";

#app {
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
}

a {
    text-decoration: none;
    color: $link-color;

    &:hover {
        text-decoration: none;
    }

    &:focus {
        text-decoration: none;
    }
}

h5 {
    border-bottom: 1px solid rgba(160, 160, 160, 0.2);
    padding-bottom: 16px;
    margin-bottom: 16px;
    font-size: 1.15rem;
}

.answer, .question {
	margin-bottom: 16px;
}
