@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/summernote/dist/summernote";

@import "~viender_core/sass/variables";
@import "variables";

@import "~viender_socialite/core/sass/desktop/components/answer";
@import "~viender_socialite/core/sass/desktop/components/answer-show-modal";
@import "~viender_socialite/core/sass/desktop/components/answer-create-modal";
@import "~viender_socialite/core/sass/desktop/components/answer-create-form";
@import "~viender_profile/core/sass/desktop/components/user-card";
@import "~viender_profile/core/sass/desktop/components/topic-card";
@import "~viender_profile/core/sass/desktop/components/profile-navigation";
@import "~viender_follow/core/sass/desktop/components/follow-button";
@import "~viender_socialite/core/sass/desktop/components/comment";
@import "~viender_socialite/core/sass/desktop/components/comment-list";
@import "~viender_socialite/core/sass/desktop/components/comment-create-form";

#app {
	line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
}

a {
	text-decoration: none;
	color: $link-color;

	&:hover {
		text-decoration: none;
	}

	&:focus {
		text-decoration: none;
	}
}

.left-column {
	padding-left: 130px !important;
}

.profile {
	&-header {
		height: 180px;
		background-color: #1da1f2;
		position: relative;
		margin-bottom: 0 !important;
	}

	&-nav {
		height: 60px;
		background-color: #fff;
		margin-bottom: 32px;
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	}

	&-avatar {
		img {
			border: solid 2px white;
			box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
			height: 160px;
			position: absolute;
			bottom: -80px;
			border-radius: 10px;
		}
	}

	&-content {
		&__userDetail {
			font-weight: 600;
			padding: 5px;
		}
	}
}


