@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/summernote/dist/summernote";

@import "~viender_core/sass/core";
@import "~viender_socialite/core/sass/app";
@import "~viender_socialite/core/sass/desktop/components/answer-create-modal";
@import "~viender_socialite/core/sass/desktop/components/answer-create-form";
@import "variables";

#app {
	line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
}

a {
	text-decoration: none;
	color: $link-color;

	&:hover {
		text-decoration: none;
	}

	&:focus {
		text-decoration: none;
	}
}

.left-column {
	padding-left: 130px !important;
}

.profile {
	&-header {
		height: 180px;
		background-color: grey;
		position: relative;
		margin-bottom: 0;
	}

	&-nav {
		height: 60px;
		background-color: #fff;
		margin-bottom: 32px;
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	}

	&-avatar {
		img {
			border: solid 2px white;
			box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
			height: 160px;
			position: absolute;
			bottom: -80px;
			border-radius: 10px;
		}
	}

	&-content {
		&__userDetail {
			font-weight: 600;
			padding: 5px;
		}
	}
}

.profileNavigation {
	&-list {
		margin: 0;
	}

	&-item {
		display: inline-block;

		a {
			@extend .grey-text, .text-darken-3;
			height: 60px;
			padding: 10px 12px 12px 12px;
			display: block;
			text-align: center;
			transition: all .15s ease-in-out;

			&.is-active {
				border-bottom: solid 4px #{$secondary-color};
			}

			&:focus {
				border-bottom: solid 4px #{$secondary-color};
			}

			&:hover {
				border-bottom: solid 4px #{$secondary-color};
			}
		}

		span {
			display: block;
		}
	}

	&-label {

	}

	&-value {
		font-weight: 600;
	}
}
