@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/summernote/dist/summernote";

@import "~viender_core/sass/variables";
@import "variables";

@import "~viender_socialite/core/sass/mobile/components/answer";
@import "~viender_socialite/core/sass/mobile/components/answer-create-modal";
@import "~viender_socialite/core/sass/desktop/components/answer-create-form";
@import "~viender_socialite/core/sass/desktop/components/comment";
@import "~viender_socialite/core/sass/desktop/components/comment-list";
@import "~viender_socialite/core/sass/desktop/components/comment-create-form";

#app {
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
}

a {
    text-decoration: none;
    color: $link-color;

    &:hover {
        text-decoration: none;
    }

    &:focus {
        text-decoration: none;
    }
}
