
// Fonts
// @import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
// @import "variables";

@import "node_modules/summernote/src/less/summernote.scss";

// Material Design Bootstrap
@import "css/bootstrap2.min";
@import "css/mdb2.min";

// Components
@import "components/welcome-page";

// Buttons
@import "components/buttons/btn-upvote";

// Navigation
@import "components/navigation/navigation";
@import "components/navigation/navigation-desktop";
@import "components/navigation/navigation-mobile";

// Card Box
@import "components/cardBlock/card-block-header";
@import "components/cardBlock/card-block-body";
@import "components/cardBlock/card-block-footer";
@import "components/cardBlock/card-block";
@import "components/cardBlock/answer-box";
@import "components/cardBlock/question-box";
@import "components/cardBlock/comment-box";
@import "components/cardBlock/comment-comment-box";

// Comment
@import "components/comment/comment-form";

// Modal
@import "components/modal/modal";

// App
@import "components/app/contentContainer";
@import "components/app/sidebar-left";
@import "components/app/sidebar-right";

.navbar {
	position: fixed;
    z-index: 9700;
}

main {
    margin-top: 69px;
}

textarea {
    height: 2rem;
}

.btn {
    margin: 0;
    margin-right: 12px;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

ul {
    padding-left: 20px;
}

.card-text ul, .card-text ul li {
    list-style-type: disc;
}

@media screen and (min-width: 992px) {
	main {
	    margin-top: 37px;
	}
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s
}

.fade-enter, .fade-leave-active {
    opacity: 0
}

/* Overlay fade transition fix */
.waves-effect {
    z-index: 0;
}