.answer, .question {
    border-bottom: 1px solid rgba(160, 160, 160, 0.2);

    .card {
        box-shadow: none;
        margin: 0;

        &-title {
            h4 {
                margin-top: 0;
            }
        }

        .card-content {
        	padding: 0 10px;
        }

        .card-action {
            padding: 10px;
            border-top: none;
        }
    }

    &-content {
        ul {
        	padding-left: 40px;
        	list-style-type: disc;
        }

        img {
        	width: 100% !important;
        }

        ul li {
        	list-style-type: disc;
        }
    }

    .answerCreateForm-questionDetail {
        padding: 0 10px;
    }
}

.question {
    .card {
        &-title {
            padding: 0 10px;
            font-size: 18px !important;
            font-weight: 500 !important;
        }
    }
}
