.avatar--small{
	padding-left: 50px !important;
}

.card li .card-action {
	padding-left: 0;
}

.card .card-action a {
	margin-left: 0;
	margin-right: 13px !important;
	cursor: pointer;
	font-size: 13px;
	text-transform: none !important;
}

.card .card-title h4 a {
	font-size: 18px;
	@extend .grey-text, .text-darken-4;
}

.card button {
	margin-right: 13px;
	font-size: 13px;
	padding: 5px;
	height: 27px;
    line-height: 13px;
	text-transform: none !important;
}

.card .collection, .card .collection .collection-item {
	background-color: #f6f6f6;
}

.collection input {
	background-color: white;
	margin: 0;
}

.collection form .row {
	margin: 0;
}