.answerCreateForm {
    &-question {
        font-size: 1.6rem;

        a {
            @extend .grey-text, .text-darken-3;
        }
    }

    &-questionDetail {
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;

        &.shrinked {
            white-space: nowrap;
            cursor: pointer;
        }
    }
}
