.answer, .question {
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(160, 160, 160, 0.2);

    .col.s12 {
        padding-left: 0;
        padding-right: 0;
    }

    .card {
        box-shadow: none;
        margin: 0;

        .card-content {
            padding: 0;

            .card-title {
                h4 {
                    margin-top: 0;
                }
            }
        }

        .card-action {
            border-top: none;
        	padding-left: 0;
        	padding-right: 0;
        }
    }

    &-content {
        &-owner {
            color: #212121;
        }

        ul {
            padding-left: 40px;
            list-style-type: disc;

            li {
                list-style-type: disc;
            }
        }
    }

    .answerCreateForm-questionDetail {
        padding: 0;
    }

    .card {
        &-title {
            font-size: 18px !important;
            font-weight: 500 !important;
        }
    }
}
