.commentList {
    padding: 0 10px !important;

    .commentList {
        padding: 0 !important;
    }

    @extend .grey, .lighten-4;
    display: block;

    .collection-item {
        @extend .grey, .lighten-4;
    }

    &-commentForm {
        margin-bottom: 20px !important;
        padding: 10px 0 !important;
    }
}
