.comment {
    display: block;
    padding-left: 32px;
    padding-bottom: 20px;

    &-avatar {
        position: absolute;
        left: 0;
    }

    &-action {
        span {
            @extend .grey-text, .text-darken-2;
            font-size: 0.9rem;
        }

        a {
            @extend .grey-text, .text-darken-2;
            font-size: 0.9rem;

            &.active {
                color: #4285f4 !important;
            }
        }

        &--item {
            cursor: pointer;
            padding-right: 10px;
        }
    }
}
