.commentList {
    padding: 0 10px !important;
    padding-bottom: 10px !important;

    .commentList {
        padding: 0 !important;

        &-comments {
            .collection {
                width: 100%;
                padding-bottom: 35px;
            }
        }
    }

    @extend .grey, .lighten-4;
    display: block;

    .collection-item {
        @extend .grey, .lighten-4;
    }

    &-commentForm {
        margin-bottom: 40px !important;
        padding: 10px 0 !important;
    }
}
