.navbar {
	&-desktop {
	    width: 100%;
	    height: 45px;
	    line-height: 45px;

		.brand-logo {
			padding-left: 20px;
		}

		.nav-wrapper i, a.button-collapse i {
		    height: 45px;
		    line-height: 45px;
		}
	}

	&-mobile {
		height: initial;

		.logo {
			height: 3.64rem;

			a {
			    color: white;
			    font-size: 22px;
			    font-weight: bold;
			    line-height: 223%;
			    vertical-align: top;
			}
		}

		.row {
			margin-bottom: 0;
		}

		input {
			margin-bottom: 0;
		}

		&-header {
			background-color: $primary-color-dark;
			color: white;
			text-align: center;
		}

		&-menus {
			text-align: center;
			background-color: $primary-color-light;
			line-height: 364%;
			position: fixed;
			width: 100%;
			bottom: 0;
			margin-bottom: -1px;
		}
	}

}
