nav {
	@extend .white;
    width: 100%;
    height: 45px;
    line-height: 45px;
}

nav a {
	@extend .grey-text, .text-darken-4;
}

nav li a {
	@extend .grey-text, .text-darken-4;
}

nav .brand-logo {
	padding-left: 20px;
}

nav a.brand-logo {
	@extend .red-text, .text-lighten-1;
}

nav .nav-wrapper i, nav a.button-collapse i {
    height: 45px;
    line-height: 45px;
}