@import "node_modules/materialize-css/sass/materialize";
@import "variables";
@import "~viender_core/sass/core";

.card .card-content {
	padding: 0;
}

.card .card-action {
	padding: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}